################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project1/x64/Debug
/Project1/Project1/x64/Debug
/.vs/Project1
